.des {
    padding-right: 1rem;
}
.des {
    padding-left: .8rem;
}
.des::after {
    content: '';
    position: absolute;
    top: 1.125rem;
    right: 0;
    background: url('../../images/icon.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    width: .5rem;
    height: .5rem;
}
.payModal .top h2 {
    font-size: .9rem;
}
.payModal .top{
    padding-top: 1rem;
    font-size: .65rem;
}
.payModal .top p{
    padding: 1rem 0;
}
.payModal .payContent {
    padding: 0 1rem;
    color: #999;
}
.payModal .payContent li {
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
    font-size: .65rem;
}