<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/enjoyShop/common.css}">
  <script th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script th:src="@{/js/ajaxhook.min.js}"></script>
  <script th:src="@{/js/app.js}"></script>
  <script th:src="@{/js/base.js}"></script>
  <title>支付中</title>
  <style>
    body{
      background-color: #fff;
    }
    .contain {
      text-align: center;
      padding-top: 5rem;
    }
    .contain p{
      font-weight: 700;
      margin-top: 1.5rem;
      padding-bottom: 1rem;
      font-size: 1rem;
    }
    img{
      width: 8rem;
    }
  
  </style>
</head>

<body>
  <div class="title">
    <p><a class="btn"></a>支付中</p>
  </div>
  <div class="contain">
    <img th:src="${#httpServletRequest.getAttribute('prodType') == 'pay_card'}?@{/images/enjoyShop/zfz.png}:@{/images/enjoyLoan/zfz.png}" alt="支付中">

    <p>支付正在进行中，请等待~</p>
    <a href="javascript:;" class="btn">返 回</a>
  </div>
<script th:inline="javascript">
  var path = [[@{/}]];
  var registerPhone = [[${registerPhone}]];
  var borrNum = [[${borrNum}]];
  var prodType = [[${#httpServletRequest.getAttribute('prodType')}]];
  $(function () {
    $('.btn').on('click',function () {
      window.location.href = path +'form/jumpDetails/'+registerPhone+'/'+borrNum+'?prodType='+prodType;
    })
  })
</script>
</body>

</html>