<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,maximum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" th:href="@{/css/enjoyShop/common.css}"/>
  <title>借款电子合同</title>
  <script>
    var oHtml = document.documentElement;
    getSize();

    function getSize() {
      // 获取屏幕的宽度
      var ascreen = oHtml.clientWidth;
      if (ascreen >= 750) {
        oHtml.style.fontSize = '20px';
      } else {
        oHtml.style.fontSize = ascreen / 20 + "px";
      };
    }
  </script>
</head>
<style>
  .container {
    padding: 1rem;
    background-color: #fff;
    font-size: .65rem;
  }
  .text-fr {
   margin-left: 9.3rem;
   margin-bottom: 1rem;
  }
  tr{
    font-size: .65rem;
  }

  .fw {
    font-weight: 700;
  }

  h2 {
    font-size: .65rem;
    margin-top: 1rem;
    font-weight: 700;
  }
  .mt5 {
    margin-top: 2rem;
  }
  .line,
  .shortLine {
    display: inline-block;
    width: 6rem;
    height: 1rem;
    border-bottom: 1px solid #000;
  }
  .title {
    background: #6870DF;
  }
</style>

<body>
  <div class="title">
    <p>
      <a href="javascript:history.go(-1);"></a>借款合同 <br />（自然人）
    </p>
  </div>
  <div class="container">
    <p>编号：<span class="line" th:text="${contract.borrNum}"></span> </p>
    <table>
      <tr>
          <td>借款人：（以下简称甲方）<span class="line" th:text="${contract.name}"></span></td>
      </tr>
      <tr>
        <td>身份证号：<span class="line" th:text="${contract.cardNum}"></span></td>
      </tr>
      <tr>
        <td>住址：<span class="line" th:text="${contract.address}"></span></td>
      </tr>
      <tr>
        <td>联系电话：<span class="line" th:text="${contract.phone}"></span></td>
      </tr>
      <tr>

      </tr>
      <tr>
        <td>贷 款 人：（以下简称乙方） 西安星河网络小额贷款有限公司</td>
      </tr>
      <tr>
        <td>法定代表人：  周华   </td>
      </tr>
      <tr>
        <td>通讯地址： 陕西省西安市新城区解放路103号停车楼商业房五层 </td>
      </tr>
      <tr>
        <td>联系电话：<span class="line" ></span></td>
      </tr>
    </table>
    <p>因甲方向乙方申请借款，为明确双方权利义务，甲方与乙方协商一致，依据国家相关法</p>
    <p>律，特订立本合同。</p>
      <h2>第一条  借款基本信息</h2>
      <div>
        <p>1.1借款日期：<span class="line" th:text="${contract.createDate}"></span></p>
        <p>1.2借款本金：<span class="line" th:text="${contract.borrAmount}"></span>元</p>
        <p>1.3借款期限：<span class="line" th:text="${contract.term}"></span>天</p>
        <p>1.4正常借款期内，利息：<span class="line" th:text="${contract.interestSum}"></span>元</p>
        <p>1.5还款日期：<span class="line" th:text="${contract.planRepayDate}"></span>，当天一次性还清</p>
        <p>1.6还款金额：<span class="line" th:text="${contract.planRepay}"></span>元。</p>
        <p> 如借款实际支付日期晚于上述借款日期，以实际支付日期为准，还款日期顺序后延。</p>
      </div>

    <div>
      <h2>第二条  利率及调整</h2>
      <p>2.1 本合同适用固定利率，年化利率<span class="line" style="width: 30px;" th:text="${contract.yearReat}"></span>%。</p>
      <p>2.2借款利息的收取为先息后本的方式。</p>
    </div>
    <div>
      <h2>第三条 借款发放方式</h2>
      <p>3.1 在下列条件未全部符合前，乙方有权拒绝放款：</p>
      <p>（1）甲方已按乙方要求提交相关证明文件、办妥相关手续；</p>
      <p>（2）甲方在第六条项下所作的陈述与保证是真实的；</p>
      <p>（3）没有发生可能对甲方的还款能力有不利影响的事件；</p>
      <p>（4）其他先决条件：<span class="line" ></span>。</p>
      <p>3.2 甲方账户信息如下</p>
      <p>户名：
        <span class="line" th:text="${contract.name}"></span>
      </p>
      <p>开户行：
        <span class="line" th:text="${contract.bankName}"></span>
      </p>
      <p>账  号：
        <span class="line" th:text="${contract.bankNum}"></span>
      </p>
      <p>3.4 甲方应按第1.5条约定的还款日期按时还款。</p>
      <p>3.5 提前归还贷款的，需还款金额与到期日应还款金额一致。</p>
    </div>
    <div>
      <h2>第四条  还款方式及偿还顺序</h2>
      <p>4.1 甲方应在还款日前将应还款项足额存入乙方指定的还款账户。 </p>
      <p>4.2 如甲方偿还乙方的款项少于按本合同约定的应还到期款项总额,该款项按下列次序安排：</p>
      <p>（1）支付依法或依照本合同约定的实现债权而支付的催收费用、诉讼费（或仲裁费）、保全费、公告费、执行费、律师费、差旅费及其他费用；</p>
      <p>（2）支付应付逾期利息;</p>
      <p>（3）支付应付利息；</p>
      <p>（4）支付应付本金。</p>
      <p>甲方所偿还款项不足以清偿同一顺序全部债务的，按有关债务发生的先后顺序清偿。</p>
    </div>
    <div>
      <h2>第五条  提前还款</h2>
      <p>提前还款应符合以下约定：需还款金额与到期日应还款金额一致。</p>
    </div>
    <div>
      <h2>第六条 甲方的陈述与保证</h2>
      <p>6.1 甲方具备完全的民事权利能力和行为能力，能以自身名义履行本合同的义务并独立承担民事责任。</p>
      <p>6.2 签署和履行本合同是甲方真实的意思表示，不存在任何法律上的瑕疵。</p>
      <p>6.3 甲方在签署和履行本合同过程中向乙方提供的全部文件、资料及信息是真实、准确、完整和有效的，未向乙方隐瞒可能影响其还款能力的任何信息。</p>
      <p>6.4 甲方签署本合同及履行本合同项下义务不会违反其作为当事人一方（或受之约束）的其他任何合同，也不会导致其在该合同项下违约。</p>
      <p>6.5 甲方不存在将影响其履行本合同项下义务的能力的、已经发生且尚未了结的诉讼、仲裁或其他司法或行政程序，而且据其所知无人将采取上述行动。</p>
    </div>
    <div>
      <h2>第七条 乙方的权利与义务</h2>
      <p>7.1 乙方有权按照本合同约定收回贷款本金、利息（包括逾期利息），收取甲方应付的费用，行使法律规定或本合同约定的其他权利。</p>
      <p>7.2 在第三条约定的贷款发放条件全部符合的前提下，乙方应按本合同约定发放贷款。</p>
      <p>7.3 乙方应依据有关法律规定，对甲方为订立和履行本合同向乙方提供的有关非公开信息保密，但下列情形除外</p>
      <p>（1）贷款人有权依据有关法律法规或其他规范性文件的规定或金融监管机构的要求，将借款人的相关信息提供给中国人民银行个人信用信息基础数据库和其他依法设立的信用数据库，供具有适当资格的机构或个人查询和使用，贷款人也有权为本合同订立和履行之目的，通过中国人民银行个人信用信息基础数据库和其他依法设立的信用数据库查询借款人的相关信息。</p>
      <p>（2）借款人在本合同项下发生违约行为时，贷款人有权视违约情况公开违约信息，或为催收之目的将有关信息提供给催收机构。</p>
      <p>（3）法律法规或其他规范性文件规定的其他情形。</p>
    </div>
    <div>
      <h2>第八条 甲方的权利与义务</h2>
      <p>8.1 甲方有权按合同约定取得并使用贷款。</p>
      <p>8.2 甲方应当按本合同约定的时间、金额和币种偿还本合同项下的贷款本金并支付利息。</p>
      <p>8.3 甲方不应将本合同项下贷款挪作他用。</p>
      <p>8.4 甲方应承担本合同项下所有费用支出，包括但不限于公证费、鉴定费、评估费、登记费、保险费等</p>
      <p>8.5 甲方应遵循乙方与办理贷款业务相关的业务制度及操作惯例，包括但不限于配合乙方对贷款使用情况和甲方收入情况的监督检查，及时提供乙方要求的资料、信息，并保证所提供资料和信息是真实、完整、准确的。</p>
      <p>8.6 甲方应在下列事项发生或可能发生之日起五日内书面通知乙方：</p>
      <p>（1）对甲方还款能力有或可能有重大不利影响的诉讼、仲裁、行政措施、财产保全措施、强制执行措施或其他重大不利事件；</p>
      <p>（2）甲方住所、联系方式发生变更；</p>
      <p>（3）甲方出售、出租、转移或以其他方式处分自有资产的全部或大部分；</p>
      <p>（4）甲方为第三方提供任何形式的担保。</p>
      <p>8.7 甲方应根据乙方要求提供乙方认可的有效担保方式，并与乙方签订相关的担保合同（如需要）。</p>
      <p>8.8 本合同项下的担保发生不利于乙方债权的变化时，甲方应按乙方的要求及时提供乙方认可的其他担保。</p>
      <p>本款所称“变化”包括但不限于：担保人停产、歇业、解散、停业整顿、被撤销、营业执照被吊销、申请或被申请破产；担保人的经营或财务状况有重大变化；担保人的收入发生重大变化；担保人涉及重大诉讼或仲裁案件；担保物的价值减少或可能减少或被采取财产保全等强制措施；担保人在担保合同项下有违约行为；担保人与甲方发生争议；担保人要求解除担保合同；担保合同未生效或无效或被撤销；担保物权不成立或无效；或影响乙方债权安全的其他事件等。</p>
    </div>
    <div>
      <h2>第九条 违约</h2>
      <p>甲方有属于下列行为之一的，属于违约：</p>
      <p>（1）甲方在第六条项下所作陈述与保证不真实；</p>
      <p>（2）甲方未履行第八条项下所列任何一项义务，乙方认为将影响其债权的安全；</p>
      <p>（3）甲方在履行与乙方签订的其他合同时，有迟延履行等违约行为且经乙方催告后仍未予以纠正；</p>
      <p>（4）为他人债务提供担保可能影响其债务清偿能力时未征得乙方书面同意的；</p>
      <p>（5）甲方违反本合同其他约定。</p>
    </div>
    <div>
      <h2>第十条 公证与自愿接受强制执行</h2>
      <p>10.1 如本合同的任何一方提出公证要求，合同双方应在国家规定的公证进行公证，费用由甲方承担。</p>
      <p>10.2 如债务人不履行或不完全履行本合同约定的还款义务的，就本合同本金、利息、逾期利息、损害赔偿金、实现债权、抵押权的费用愿意接受公证机构出具执行证书，并接受人民法院强制执行。</p>
      <p>10.3 公证机构收到执行证书出具申请时，公证机构按照本合同“通知”条款所罗列的时间、方式和通讯地址向债务人以信函方式核实债务人的违约情况，债务人未在3日历日内回函，或回函提出异议，但未按约定提出充足证据，则视为其同意债权人向公证机构提出的债权人已完全履行合同的证据和债务人违约的主张。</p>
      <p>10.4 双方约定借款人未按合同约定方式按时足额偿还本、息的，其后各期债权（如有）视为到期，可以就全部债权申请强制执行。</p>
      <p>10.5 如公证机构不予出具执行证书或公证执行证书经人民法院裁定不予执行的，双方约定采用本合同中第十三条中第2种方式解决争议。</p>
    </div>
    <div>
      <h2>第十一条 违约责任</h2>
      <p>甲方违反本协议的约定，乙方有权行使下列一项或几项权利：</p>
      <p>（1）乙方有权停止发放尚未发放的贷款，单方面宣布合同项下已发放的贷款本金部分或全部提前到期，并要求甲方立即偿还所有到期贷款本金并结清利息。</p>
      <p>（2）甲方未按时足额偿还贷款本金、支付利息的，乙方有权按合同约定处分质押物、抵押物，要求保证人承担连带清偿责任（如有）。</p>
      <p>（3）甲方未按时足额偿还贷款本金、支付利息或未按本合同约定用途使用贷款的，乙方有权按逾期利率计收利息：</p>
      <p>（4）甲方未按时足额偿还贷款本金、支付利息的，应承担乙方为实现债权而支付的催收费用、诉讼费（或仲裁费）、保全费、公告费、执行费、律师费、差旅费及其他费用。</p>
      <p>（5）若双方对本合同进行公证并赋予强制执行效力的，乙方有权按照公证书赋予的强制执行效力直接向人民法院申请强制执行，并有权依据相关担保合同处置抵（质）押物，要求保证人承担连带清偿责任。</p>
      <p>（6）甲方死亡、丧失民事行为能力或经人民法院宣告失踪、死亡的，应由甲方的合法继承人或财产代管人在甲方财产范围内继续履行已借款项的还款义务，若甲方无继承人或财产代管人，或继承人或财产代管人拒绝或者怠于履行借款合同的，乙方有权处分抵押物和质押权利，追究保证人连带责任。</p>
      <p>（7）要求甲方对本合同项下所有债务提供符合乙方要求的新的担保。</p>
      <p>（8）解除本合同。
    </div>
    <div>
      <h2>第十二条 争议解决</h2>
      <p>本合同项下争议依下列第 （2） 种方式解决，争议期间各方仍应继续履行未涉争议的条款：</p>
      <p>（1）向乙方所在地有管辖权的法院起诉；</p>
      <p>（2）由北京仲裁委员会依申请仲裁时该会现行有效的仲裁规则仲裁，仲裁裁决是终局的，对双方具有约束力。</p>
      <p>（3）如若双方已经申请办理强制执行公证的，按约定及相关法律规定办理。</p>
    </div>
    <div>
      <h2>第十三条  合同的变更</h2>
      <p>甲方要求且乙方同意变更还款方式的，双方应另行签订书面协议，载明剩余本金、贷款期限、调整还款方式后应适用的利率、剩余还款期数及据此重新确定的每期还款额。</p>
    </div>
    <div>
      <h2>第十四条  转让</h2>
      <p>14.1乙方无需征得甲方同意，可将其在本合同项下的权利转让给其他方。乙方权利的转让应当通知甲方，通知可以书面通知形式作出。</p>
      <p>14.2未经乙方书面同意，借款人不得将其在本合同项下的任何权利、义务转让给其他方。</p>
    </div>
    <div>
      <h2>第十五条  通知 </h2>
      <p>15.1 本合同规定一方向另一方发出的通知或书面函件（包括但不限于本合同项下所有要约、书面文件或通知）均应通过以下方式之一送达相应一方： </p>
      <p>（1）当面递交；</p>
      <p>（2）中国邮政特快专递；</p>
      <p>15.2 在以下时间通知被视为已经送达： </p>
      <p>（1）如果以当面递交方式送达，送达指定地址并签署回执或其他送达证明；</p>
      <p>（2）如果是以中国邮政特快专递方式送达，为交寄日后的第三个工作日；</p>
      <p>15.3 以下地址为双方的送达地址</p>
      <p>本协议首部地址为双方的有效送达地址。</p>
      <p>任何一方变更上述通讯地址的，均应在新地址启用前七个工作日书面通知对方，否则，对原地址的送达视为有效送达。</p>
    </div>
    <div>
      <h2>第十六条  合同生效及其他</h2>
      <p> 16.1本合同自双方签字或双方加盖公章后生效。</p>
      <p>16.2本合同项下某条款或某部分条款无效的，不影响其他条款的效力。</p>
      <p>16.3甲方已通读并理解上述所有条款，乙方已应甲方的要求作了相应说明，甲方对所有内容无异议。</p>
      <p>16.4本合同项下的经双方确认的相关文件、资料均为合同不可分割的组成部分。</p>
      <p>16.5 本合同正本一式<span class="line" style="width: 20px">&nbsp贰&nbsp</span>份，签约双方各执<span class="line" style="width: 20px">&nbsp壹&nbsp</span>份。</p>
    </div>
    <div>
      <h2>第十七条  其他约定事项</h2>
      <p><span class="line" style="width: 500px" ></span></p>
      <p><span class="line" style="width: 500px" ></span></p>
    </div>

    <div class="mt5">
      <p>本页以下无正文</p>
      <p>&nbsp</p> <p>&nbsp</p>
      <p>借款人（签字）&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp贷款人</p>
      <p>&nbsp</p> <p>&nbsp</p>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        负责人或授权代表 </p>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        （签字或盖章）</p>
      <p >签署日：&nbsp&nbsp&nbsp&nbsp年&nbsp&nbsp月&nbsp&nbsp日&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp签署日：&nbsp&nbsp&nbsp&nbsp年&nbsp&nbsp月&nbsp&nbsp日</p>
    </div>
  </div>
</body>

</html>