<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/enjoyShop/common.css}">
  <title>用户注册及隐私保护协议</title>
  <script>
    var oHtml = document.documentElement;
    getSize();

    function getSize() {
      // 获取屏幕的宽度
      var ascreen = oHtml.clientWidth;
      if (ascreen >= 750) {
        oHtml.style.fontSize = '20px';
      } else {
        oHtml.style.fontSize = ascreen / 20 + "px";
      };
    }
  </script>
</head>
<style>
  .container {
    padding: 1rem;
    background-color: #fff;
    font-size: .65rem;
  }

  .line,
  .shortLine {
    display: inline-block;
    width: 6rem;
    height: 1rem;
    border-bottom: 1px solid #000;
  }

  .shortLine {
    width: 4rem;
  }

  h2 {
    font-size: .65rem;
    margin-top: 1rem;
    font-weight: 700;
  }

  .mt5 {
    margin-top: 2rem;
  }
  .mt2{
    margin-top: 1rem;
  }
  .title {
    background: #6870DF;
  }
</style>

<body>
  <div class="title">
    <p>
      <a href="javascript:history.go(-1);"></a>用户注册及隐私保护协议
    </p>
  </div>
  <div class="container">
    <div>
      <p>义务一享网络科技有限公司（以下简称“服务方”）通过其运营的网站、WAP地址/手机应用程序等为用户实现服务需求提供信息搜集、信息公布、信息交互、交易撮合等服务。本《用户注册及隐私保护协议》（以下简称“本协议”）是用户与服务方之间订立的关于用户进行注册、登录以及使用服务的协议。本协议适用于您在服务过程中的全部活动。</p>
      <p>服务方特别提醒您认真阅读本协议，确保您在注册成为用户前，已充分理解本协议中的所有条款，特别是其中涉及的对服务方免责以及对用户权利限制和禁止性行为进行约定的条款。除非您接受本协议所有条款，否则您无权进行注册、登录或者使用服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束，您不得以未签署书面协议为由，否认本协议的效力。服务方有权向用户公布服务规则，该等规则构成本协议不可分割的一部分，与本协议具有同等法律效力。</p>
    </div>
    <div>
      <h2>第一条 本协议的签署和修订</h2>
      <p>1.1 本协议的内容包括以下全部条款以及服务方已经发布的及将来可能发布的与注册用户有关的各项规则、 协议（以下统称为“ 规则” ），该等规则均为本协议不可分割的一部分，与本协议具有同等法律效力。</p>
      <p>1.2 在本协议履行过程中，服务方有权根据实际情况对本协议的相关条款进行修改，一旦本协议的内容发生变动，服务方将公布最新的协议文本。如果用户不同意服务方对本协议所做的任何修改，用户有权停止使用服务。如果用户继续使用服务，则视为用户接受服务方对本协议所做的修改，并应遵照修改后的协议履行应尽义务。</p>
      <p>1.3 本协议是由您与服务方共同签订的，适用于您在服务过程中的全部活动。在您成功注册成为用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，如有违反而导致的任何法律后果，您将以自己的名义独立承担相应的法律责任。</p>
      <p>1.4 您在此同意将全面接受和履行与服务方以电子形式签订的任何法律文件，并承诺按该等法律文件享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
    </div>
    <div>
      <h2>第二条 用户注册</h2>
      <p>2.1 在使用服务前，用户必须先进行注册。注册用户必须是中华人民共和国境内（不包括中华人民共和国香港特别行政区、澳门特别行政区及台湾地区）具有完全民事权利能力和完全民事行为能力，能够独立承担民事责任的自然人。用户不具备上述资格的，应当立即终止注册、登录以及停止使用服务，否则，用户的监护人应当承担一切法律责任。服务方有权对不具备注册资格的用户随时终止注册、登录以及停止提供服务，造成损失的，用户及其监护人应当承担赔偿责任。</p>
      <p>2.2 用户应当使用尚未注册的手机号码进行注册,并设置相应的密码。账号及密码由用户负责保管，用户应当对通过其账号进行的所有活动承担法律责任。任何经由用户账号发出的指令均视为用户本人的行为和真实意思表示，由此产生的一切责任和后果由用户本人承担。</p>
      <p>2.3 服务方服务的部分内容需要用户根据要求完成身份认证及/或银行卡认证，未进行身份认证及/或银行卡认证的用户将无法使用该部分服务。因未能完成认证而无法享受服务造成的损失，服务方不承担任何责任。</p>
      <p>2.4 用户有义务提供有效的联系方式，包括但不限于手机号码、常用电子邮箱、联系地址等。联系方式发生变更时，用户应当在3日内进行更新。因用户操作不当或填写的联系方式有误，导致服务方无法正常提供服务的，造成的损失及法律后果由用户自行承担。</p>
      <p>2.5 如用户发现有他人冒用或盗用其账号及密码，或进行任何其他未经其合法授权行为的，应立即以书面方式通知服务方并要求暂停服务，服务方将积极响应用户的要求。用户应当理解，对用户的要求采取行动需要合理期限，在此之前，服务方对已执行的指令及/或所导致的用户损失不承担任何责任。</p>
    </div>
    <div>
      <h2>第三条 服务内容</h2>
      <p>3.1 服务方将恪尽职守，本着依法、诚实、信用、公平、谨慎、有效管理的原则，为用户提供信息搜集、信息公布、信息交互、交易撮合等服务。服务方向用户提供服务的具体内容，以本协议、服务方与用户签订的相关协议以及服务方不时公布的规则为准。</p>
      <p>3.2 为向用户提供服务，服务方会要求用户提供和上传个人资料信息，用户有义务确保其提供的个人资料信息的真实性、准确性和完整性，并承诺对个人资料信息及时进行更新。如服务方基于合理判断认定用户提供的个人资料信息存在错误、虚假、不完整或未及时更新的，服务方有权立即单方面终止用户账号的使用、拒绝用户使用全部或者部分服务。在此情况下，服务方不承担任何责任，并且用户同意负担因此所产生的直接或间接的任何支出或损失。</p>
      <p>3.3 基于用户提供的个人资料信息，服务方将从用户在服务过程中的活动追踪或者自行从公开渠道、第三方渠道或私人渠道等合法渠道收集用户其他个人资料信息。用户授权服务方通过上述渠道追踪、收集其个人资料信息，并授权服务方根据用户提供的及服务方自行追踪、收集的各项信息，对用户的财务状况、风险偏好等进行尽职评估以及根据评估结果对用户实行分级管理。</p>
      <p>3.4 为向用户提供交易撮合等商务服务或产品服务，服务方将对用户的服务需求及相关信息进行必要审核。</p>
      <p>3.5 服务方自主决定是否与用户提供商务服务、产品服务、签订相关协议。</p>
      <p>3.6 通过服务达成的商务服务、产品服务交易采用电子合同方式。用户账号在相关网站、WAP地址、手机应用程序中通过点击确认或类似方式签署的电子合同即视为用户本人真实意思表示，具有法律效力。用户应妥善保管自己的账号和密码，用户通过前述方式订立的电子合同对合同各方具有法律约束力，用户不得以其账号和密码被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。</p>
      <p>3.7 为确保商务服务、产品服务交易的资金安全，服务方会根据交易需要委托第三方支付机构开立第三方账户，并通过该账户为用户提供资金保管、资金清算等资金管理服务。用户知悉并授权服务方将用户相关信息提供给第三方支付机构，由第三方支付机构进行账户开立、资金管理服务等操作。</p>
      <p>3.8 用户知悉并同意，服务方提供的资金管理服务基于与第三方支付机构的合作，服务方不对银行、第三方支付机构进行资金划转的时效性、准确性等作出任何承诺或承担任何相关责任，包括但不限于由此产生的利息损失，也不承担因银行、第三方支付机构执行划转指令出现错误、系统故障、银行、第三方支付机构对资金划转的特定限制等导致的损失或责任。</p>
      <p>3.9 用户了解并同意，其为进行交易所发出的任何指示或指令，均为不可撤销、不可逆转的指示或指令，用户不能以任何理由拒绝付款或要求取消交易。</p>
    </div>
    <div>
      <h2>第四条 服务费及其他费用</h2>
      <p>4.1 用户使用服务时，服务方有权向用户收取相关服务费用。收费标准详见服务方与用户签署的交易相关协议以及服务方公布的收费说明。服务方有权根据国家法律法规、行业政策、业务发展、市场情况等因素单方面制定及调整服务费用的收费标准，前述收费标准一经调整，服务方将会进行及时公布和通知。</p>
      <p>4.2 银行、第三方支付机构对本协议约定的资金管理服务收取费用的，该费用由用户自行支付。用户同意将根据银行、第三方支付机构制定的收费标准，自行或委托服务方代为向银行、第三方支付机构支付。由该费用支付事项产生的任何争议、纠纷等，均由用户与银行、第三方支付机构自行解决，服务方不承担因此而产生的任何损失或责任。</p>
    </div>
    <div>
      <h2>第五条 用户信息及隐私保护</h2>
      <p>5.1 为了更加充分的了解用户情况，以便向用户提供更好的信息搜集、信息公布、信息交互、交易撮合等相关服务，用户充分理解并授权，服务方有权从用户在服务过程中的活动追踪用户个人资料信息。</p>
      <p>5.2 用户授权服务方，基于履行协议、提供服务、解决争议、保障交易安全、控制交易风险等目的，对于用户提供的个人资料信息、从用户在服务过程中的活动所追踪的用户个人资料信息，享有合理使用、披露的权利。</p>
      <p>5.3 服务方对于用户提供的个人资料信息，不会恶意出售或免费共享给任何第三人。但在下列情形下，服务方有权依法或根据约定在必要范围内披露用户个人资料信息：</p>
      <p>5.3.1 根据法律法规、司法程序或政府主管部门、行业协会的要求；</p>
      <p>5.3.2 为建立信用体系，服务方有权将用户个人资料信息提供给依法设立的征信机构；</p>
      <p>5.3.3 事先获得用户同意或授权的其他情形。</p>
      <p>5.4 服务方将按照行业标准和惯例，采取合理、必要的手段及措施对用户提供的、其自行追踪、收集的用户个人资料信息进行保护。用户应当理解，保护措施可能受限于技术水平而不能完全确保用户个人资料信息不会通过本协议中未列明的途径泄露出去。针对本条款约定情形下的个人资料信息使用及披露有可能给用户造成的损失，服务方不承担任何责任。</p>
      <p>5.5 本条款所约定的用户授权及隐私保护内容，具有独立法律效力并永久持续有效，不因本协议效力状态的变化而变化，也不因相关交易规则或交易相关协议的变更、解除或终止而变化。</p>
    </div>
    <div>
      <h2>第六条 用户的承诺及义务</h2>
      <p>6.1 用户承诺绝不以任何非法目的或以任何非法方式使用服务，并承诺遵守法律法规及其他规范性文件，遵守所有与服务方提供服务有关的协议和规则。因违背上述承诺造成的损失及后果，用户自行承担全部责任。</p>
      <p>6.2 用户承诺不得利用服务方提供的服务侵害他人合法权益，进行违法或不正当的活动，包括但不限于：</p>
      <p>6.2.1 侵害他人名誉、隐私权、商业秘密、商标权、著作权等知识产权及其他权益；</p>
      <p>6.2.2 违反依照法律规定或协议约定应当承担的保密义务；</p>
      <p>6.2.3 冒用他人名义使用服务方的服务；</p>
      <p>6.2.4 利用服务方提供的商务服务、产品服务交易从事任何不法活动，如贩卖枪支、毒品、盗版软件或其他违禁物，反国家、恐怖融资等违法犯罪活动；</p>
      <p>6.2.5 涉嫌洗钱、套现或进行传销活动；</p>
      <p>6.2.6 从事任何可能含有电脑病毒或者可能侵害服务方服务系统、资料等行为；</p>
      <p>6.2.7 利用服务方服务系统进行可能对互联网或移动通讯设备正常运转造成不利影响的行为；</p>
      <p>6.2.8 侵犯服务方的商业利益，泄露商业机密；</p>
      <p>6.2.9 其他服务方有正当理由认为不适当的行为。</p>
      <p>6.3 用户违反本协议或交易相关协议的约定，导致给服务方或任何第三方造成损失的，服务方有权要求用户进行相应赔偿，并视用户行为的性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收账号、追究法律责任在内的各项措施。对恶意注册账号或利用账号进行违法活动、侵犯第三方合法权益的，服务方有权回收其账号，将违法行为及有关信息资料进行公示、计入用户信用档案、按照法律规定提供给有关政府机构或按照协议约定提供给第三方；构成犯罪的，服务方将根据司法部门的要求，协助调查。</p>
      <p>6.4 用户不得对本协议及服务方服务的任何部分，以及基于本协议或服务方服务之使用而获得的其他用户和交易对方的信息或商业机密，进行出售或用于任何其它商业目的。</p>
    </div>
    <div>
      <h2>第七条 风险提示</h2>
      <p>用户了解并认可，任何通过服务方进行的商务服务、产品服务交易并不能避免以下风险的产生,用户应当了解交易风险，具备相应的风险意识、风险识别能力和风险承受能力，服务方不能也没有义务为如下风险承担责任。</p>
      <p>7.1 政策风险：因国家宏观政策、财政政策、货币政策、监管导向、行业政策、地区发展政策等因素引起的风险。</p>
      <p>7.2 市场风险：因市场资金面紧张或利率波动、行业不景气、企业效益下滑等因素引起的风险。</p>
      <p>7.3 技术风险：由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障、黑客或计算机病毒攻击以及其它因素，可能导致系统出现非正常运行或者瘫痪，由此导致用户无法进行正常操作。</p>
      <p>7.4 不可抗力风险：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致的风险。</p>
    </div>
    <div>
      <h2>第八条 免责条款</h2>
      <p>8.1 服务方对所有服务将尽力维护其安全性及方便性，但由于互联网服务的特殊性，服务方对服务中出现的中断、信息删除或储存失败等，不承担任何责任。</p>
      <p>8.2 使用互联网服务可能会受到各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机或手机感染病毒以及其他任何网络、技术、通信线路等原因造成的服务中断或不能满足用户要求的风险，用户需充分理解并自行承担上述风险，服务方不承担任何责任。</p>
      <p>8.3 用户因第三方如电信部门的通讯线路故障、技术问题、网络、电脑故障、系统不稳定性及其他各种不可抗力原因而遭受的经济损失，服务方不承担任何责任。</p>
      <p>8.4 服务方的合作方提供的服务内容由该合作方负责。用户享用相关服务时产生的争议、纠纷及损失，服务方不承担任何责任。</p>
    </div>
    <div>
      <h2>第九条 知识产权保护</h2>
      <p>9.1 服务方网站及其移动程序上内容的知识产权均由服务方依法拥有，包括但不限于文字、软件、声音、图片、录像、图表等，除非事先经服务方的合法授权，任何人皆不得擅自以任何形式使用、修改、复制、公开发布服务方系统程序或/及其上内容，或者创造与内容有关的派生产品。</p>
      <p>9.2 用户必须依法尊重服务方的知识产权，否则，服务方有权立即终止向用户提供服务，并依法追究其法律责任，要求用户赔偿服务方一切损失。</p>
    </div>
    <div>
      <h2>第十条 通知</h2>
      <p>本协议项下的通知如在程序系统以公示方式作出，一经公示即视为已经送达。除此之外，其他向用户发布的具有专属性的通知将由服务方向用户提供的手机号码、电子邮箱或用户在程序系统的用户消息管理栏发送，一经发送即视为已经送达。用户应当密切关注手机短息、电子邮件及程序系统的消息管理栏消息，用户不得以未收到或未阅读该等通知而主张相关通知未予送达。</p>
    </div>
    <div>
      <h2>第十一条 其他条款</h2>
      <p>11.1 本协议自用户成功注册为用户之日起生效，除服务方终止本协议或用户丧失注册用户资格外，本协议始终有效。出于运行和交易安全的需要，服务方有权暂时停止提供或者限制服务的部分功能，或提供新功能，在任何功能减少、增加或者变化时，只要用户仍然使用服务方服务，则表示用户仍然同意本协议或变更后的协议。</p>
      <p>11.2 本协议终止并不免除用户根据本协议或交易相关协议已经发生的行为或达成的交易项下所应承担的义务和责任。</p>
      <p>11.3 服务方未行使或执行本协议中约定的任何权利或规定，不构成对该权利的放弃。</p>
      <p>11.4 本协议的订立、执行和解释适用中华人民共和国法律。如本协议的任何条款与适时法律规定相抵触或因任何其他原因而不具有可执行性，则该条款无效，但并不影响本协议其他条款继续有效。</p>
      <p>11.5 若用户和服务方之间发生任何纠纷和争议，应友好协商解决，协商不成，用户同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
      <p>11.6 本协议签订地为中华人民共和国浙江省义乌市。</p>
    </div>
  </div>
</body>

</html>