<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhh.dc.loan.dao.CollectorsMapper">

    <select id="selectCollectors" resultType="map">
        select user_sysno userSysno,user_name userName from c_system_user where level_type in (1,2);
    </select>

</mapper>

